body{
  background-color:white;
  margin:10px;
}
#grid1{
  border-bottom:1px solid gray;
  display:grid;
  grid-template-columns:120px 60px 1fr 100px 80px;
}
img{
  margin:0;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin:0;
  padding:15px;
}
#window{
border-left: 1px solid;
margin:0;
padding:0;
width:180px;
padding-left:10px;
}
.button1{
width:160px;
height:20px;
}
.button2{
width:100px;
margin-left:30px;
margin-top:3px;
margin-bottom:3px;
height:25px;
}
#window p{
margin-top:3px;
}
#window p input{
margin-top:3px;
}
@media(max-width:850px){
  img{
    display: none;
  }
  h1{
    font-size:40px;
    display:block;
    border-bottom:1px solid gray;
  }
  #grid1{
    border-bottom:none;
    display:block;
  }
  #window{
  border-left: none;
  border-right:1px solid gray;
  border-bottom:1px solid gray;
  display:block;
  }
}
